<!DOCTYPE html>
<html>
<head>
	<title>Help</title>
	<link rel="icon" href="/img/cloudy.png">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	
	<div class="main-content">
		{{>header}}
		<p>HELP PAGE COMING SOON ......</p>
	</div>
	

	{{>footer}}


</body>
</html>