<!DOCTYPE html>
<html>
<head>
	<title>web server</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="./javascript/index.js"></script>
</head>
<body>

	<h1>about</h1>
	<img src="/img/pic.avif">
</body>
</html>